body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-box-wrapper {
  margin: 40px auto;
  max-width: 600px;
}

.weather-box {
  padding: 20px;
  background-color: rgb(245, 244, 241);
  border: 1px solid #dadde1;
  border-radius: 5px;
}

#search-btn {
  background-color: #885df1;
  color: #ffff;
  padding: 15px 20px;

  border: 0;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700;
  height: 50px;
  padding: 15px 0;
}

.search-input {
  background: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  display: inline-block;
  font-size: 16px;
  height: 50px;
  line-height: 20px;
  padding: 15px 20px;
  width: 100%;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
}
